body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

img {
    width: 20%;
    border-style: solid;
    border-radius: 50%;
}

a {
    text-decoration: none;
}